| Model | Status | Data Jacobian rank | Precision condition number | Relative information discrepancy |
|:--|:--|--:|--:|--:|
| cnt | accepted | 3 | 1.07e+04 | 0.00582% |
| cnt_grd | accepted | 4 | 1.92e+04 | 0.000865% |
| cnt_growth_grd | accepted | 4 | 2.44e+04 | 0.000301% |
